body
{
	background: #000;
	color: #fff;
	font: GTWalsheimBold, sans, Arial, sans-serif;
}
.start, .end
{
	width: 10rem;
    text-align: right;
}
.name
{
	width: 900px;
}
.location
{
	width: 450px;
    text-align: center;
}
table
{
    border-collapse: collapse;
    width: 100%
}
table tr td
{
	/* padding: 0px 25px 25px 0px; */
    font-size: 2rem;
    /* border-left: solid white 1px; */
    text-transform: lowercase;
    /* font-variant: small-caps; */
}
table tr th
{
	/* padding: 0px 25px 25px 0px; */
    font-size: 3rem;
    /* border-left: solid white 1px; */
    text-transform: lowercase;
    background: white;
    color: black;
}
body tr
{
	border-bottom: 4px solid white;
}
body td
{
	height: 8rem;
	vertical-align: middle;
}