<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>vandaag in hetpaleis</title>
</head>
<body>

<table>
  <tr>
    <th colspan="4">hetpaleis vandaag</th>
  </tr>
  {% for e in events -%}
  <tr>
    <td class="start">{{e.start.strftime('%H:%M')}}</td>
    <td class="end">{{e.end.strftime('%H:%M')}}</td>
    <td class="location">{{e.location.name}}</td>
    <td class="name">{{e.name}}</td>
  </tr>
  {% endfor -%}
</table>

</body>
</html>